.mt-4 {
  margin-top: 1.5rem; /* Adjust as needed */
}

.mb-3 {
  margin-bottom: 1rem; /* Adjust as needed */
}

.card {
  background-color: #fff; /* Card background color */
  border: none; /* Remove card border */
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.card:hover {
  box-shadow: 0 8px 12px rgba(5, 189, 140, 0.2); /* Increase shadow on hover */
}

.strong-title {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.italic-description {
  color: rgb(121, 122, 122);
  font-style: normal;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




