

.null {
  color: whitesmoke;
  font-size: 20px;
}

.done {
  color: rgb(25, 204, 55);
}
.fail {
  color: rgb(235, 14, 14);
}
.day-headings {
  color: #049cbe;
}
.text-light {
  font-family: monospace, "Montserrat", sans-serif;
  font-size: larger;
  color: red;
}